@import "./global.scss";

.container {
  max-width: 1920px;
}
.header__nav {
  display: flex;
  align-items: center;
  padding: 24px 0 0 24px;
  margin-bottom: 65px;
}
.header__logo {
  margin-right: 25px;
}
.header__links {
  font-size: 16px;
  display: inline-block;
  a {
    color: #8898aa;
    font-weight: 700;
    margin-right: 16px;
    transition: 0.3s ease 0s;
    &:last-child {
      margin: 0;
    }
    &:hover {
      color: #32325d;
    }
  }
}
.main {
  padding: 0 40px 62px 80px;
  position: relative;
  &::before, &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &::before {
    background: url('../img/flower02.png') 0 0 no-repeat;
    width: 368px;
    height: 490px;
    z-index: -1;
  }
  &::after {
    background: url('../img/flower.png') 0 0 no-repeat;
    width: 268px;
    height: 215px;
    z-index: -1;
  }
}
.main__title {
  color: #32325d;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 10px;
}
.main__links {
  font-size: 24px;
  margin-bottom: 16px;
  a {
    margin-right: 24px; 
  }
}
.main__row {
  display: flex;
}
.main__column-left {
  padding: 40px 40px 32px 40px;
  background: #fff;
  max-width: 560px;
  border-radius: 16px;
  box-shadow: 0px 10px 30px rgba(89, 117, 133, 0.05), 0px 20px 50px rgba(89, 117, 133, 0.1);
  margin-right: 40px;
}
.column-item__title {
  font-size: 32px;
  margin-bottom: 32px;
  padding-bottom: 16px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: rgb(226, 221, 221);
  }
}
.column-item__message {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  padding: 12px 16px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
  display: inline-block;
  position: relative;
  &::after {
    content: "2020-12-16 01:23 ";
    position: absolute;
    right: 0;
    bottom: -18px;
    color: #8898aa;
  }
}
.one {
  background-color: #006aff;
  float: right;
  width: 352px;
  color: #fff;
  margin-left: 128px;
}
.two {
  background: #e5e9f2;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 16px;
  &:after {
    left: 0;
  }
}
.three {
  background-color: #006aff;
  float: right;
  width: 352px;
  color: #fff;
  margin-left: 128px;
}
.four {
  background: #e5e9f2;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 16px;
  &::after {
    left: 0;
  }
  margin-bottom: 87px;
}
.main__sending {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 16px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: rgb(226, 221, 221);
  }
  input {
    box-shadow: 0px 1px 2px rgba(24, 43, 73, 0.25), 0px 1px 6px rgba(24, 43, 73, 0.1);
    border-radius: 6px;
    width: 350px;
    padding: 8px 21px 8px 8px;
    margin-right: 16px;
    &:focus::placeholder {
      opacity: 0;
    }
  }
  ::placeholder {
    color: #8898aa;
    transition: .3s ease 0s;
  }
  button {
    line-height: 32px;
    background: #edb830;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px 2px 3px rgba(176, 127, 0, 0.25), 0px 4px 6px rgba(237, 184, 48, 0.15),
      0px 8px 8px rgba(237, 184, 48, 0.15), inset 0px -2px 2px rgba(231, 166, 0, 0.7);
    border-radius: 6px;
    padding: 0 16px;
  }
}
.main__column-right {
  width: 1200px;
  padding: 40px 40px 70px 40px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 10px 30px rgba(89, 117, 133, 0.05), 0px 20px 50px rgba(89, 117, 133, 0.1);
  color: #32325D;
  font-size: 32px;
}